@model IEnumerable<CuaHangSua.Models.DAO.ThuongHieuViewModel>
<div class="col-md-3 col-sm-12 col-xs-12">

    <div class="catagory hidden-sm">
        <div class="sidebar-title">
            <h3>Danh mục sữa</h3>
        </div>
        <ul class="menu-sidebar">
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.TenThuongHieu,"Index",new { category=item.TenThuongHieu})</li>
            }
        </ul>
    </div>
</div>
